    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 300, "" }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 300, "" }}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 300, "" }}" />
    <meta property="og:type" content="article" />
    {% else %}
    <meta name="description" content="{{ site.metaDesc }}">
    <meta property="og:description" content="{{ site.metaDesc }}" />
    <meta name="twitter:description" content="{{ site.metaDesc }}" />
    <meta property="og:type" content="website" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.image }}">
    {% endif %}

    <meta name="author" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta property="og:title" content="{{ site.description }}" />
    <meta name="twitter:title" content="{{ site.description }}" />
    {% endif %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jverhoelen" />
