.date {
    font-size: 1.1em;
    margin-bottom: 45px;
    font-style: italic;
}

img.emoji {
    position: relative;
    top: 3px;
}
  
.date-preview {
    font-size: 1em;
    margin-bottom: 25px;
}

.publications {
    > div {
        text-align: center;
        padding-left: 35px !important;
        padding-right: 35px !important;
        margin-bottom: 65px;

        @extend .col-lg-6;
        @extend .col-md-6;
        @extend .col-sm-6;
        @extend .col-xs-12;

        .image {
            a, img {
                display: block
            }
        }

        .metas {
            margin-top: 5px;
        }

        h3 {
            margin-top: 16px;
        }

        .title {
            display: block
        }

        .date {
            @extend .date;
            @extend .date-preview;
        }
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }
  .embed-responsive-4by3 {
    padding-bottom: 75%;
  }
  