<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    {% include favicon.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar" title="Index page">
            <img src="{{ site.avatar }}" title="Avatar" alt="codecentric employee photo of Jonas Verhoelen" />
          </a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/" title="Index page">{{ site.name }}</a></h1>
            <p class="site-description">IT Consultant @ <a target="_blank" href="https://codecentric.de" title="Website of codecentric AG">codecentric AG</a></p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/" title="Starting page of my blog">Blog</a>
            <a href="{{ site.baseurl }}/categories" title="All blog categories">Categories</a>
            <a href="{{ site.baseurl }}/about" title="About Jonas Verhoelen">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div>
            {% include svg-icons.html %}
          </div>
          <div class="static-links">
            <a href="{{ site.baseurl }}/site-notice" title="Site Notice – Terms and Conditions, Privacy Policy">Site Notice</a> |
            <a href="https://codecentric.de" target="_blank" title="codecentric AG">codecentric</a>
          </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
