---
layout: default
---

<article class="post">
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>

  <div class="date">
      {{ page.date | date: "%B %e, %Y" }} – 
        {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/#{{ category | slugize }}">{{ category }}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
    </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
